<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Multi Browser Suite" parallel = "tests" thread-count="2">

    <listeners>
        <listener class-name="com.ui.listener.ExtentListeners"/>
    </listeners>

    <test name="Firefox Suite">
        <parameter name="browser" value="firefox"/>

        <classes>
            <class name="com.ui.test.LoginTest"/>
        </classes>
    </test> <!-- Test -->

    <test name="Chrome Suite">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.ui.test.LoginTest"/>
        </classes>
    </test> <!-- Test -->
</suite>
